# IntelliJ
.idea/

# macOS
.DS_Store

# Compiled Java class files
*.class

# Compiled Java binary files
*.jar

# Log files
*.log

# IntelliJ project files
*.iml
*.iws
*.ipr

# User-specific files
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries

# macOS file that stores custom folder attributes
.DS_Store
